<div class="container-fluid">

  <div class="page-header-default">
    <div class="about_header">
      <h1><small id="about">About <span id="about">Victor<br/></span>Graduating with a Master's in Technical Communication, I work with people everyday to <span class="yellow_accent">write</span>, <span class="yellow_accent">test</span>, and <span class="yellow_accent">design</span> user-centered content.</small></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-0 col-lg-6">
      <div id="about_box_1">
        <h3>My passion</h3>
				<h6>Practicing UX principles</h6>
        <p>I love working with people. After all, where would technology be without people? As a UX Writer and Developer, I have placed user research and testing at the forefront of my web development and content management. Understanding how people desire to interact and share information, I create user-centered experiences driven by research and data.</p>
			</div>
		</div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-6">
      <div id="about_box_2">
        <h3>My past year</h3>
					<h6>Managing a CMS with Drupal</h6>
        <p>Currently, I test and develop content for a university demographic that exceeds 40,000 visitors a month. Working with the content management system Drupal, I manage over 20 departmental sites with the University of North Texas for their Division of Student Affairs. And with planning a new Drupal system for the division, I have led the user research, built personas, and designed the information architecture.</p>
      </div>
    </div>
  </div>
	
  <div class="row tool_row">
   <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="recommend_header">
			<h2 id="engaging">My Tools Help Me Bring People Together</h2>
      <h3 id="workplace">Here are a few of my favorite.</h3>
    </div>
  </div>
</div>
	
 <div class="row logo_row">
	 
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h5 class="logo_heading">Web Development</h5>
			<div class="col-xs-12 col-sm-6 col-md-6"><div class="logo"><%= link_to image_tag("git_logo.png", :alt=>'gihub logo', :id=>'git_logo') %></div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6"><div class="logo"><%= link_to image_tag("Ruby_on_Rails-logo2.png", :alt=>'ruby on rails logo', :id=>'rails_logo') %></div>
		 </div>		
		</div>		
	
	 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h5 class="logo_heading">UX Design</h5>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="logo"><%= link_to image_tag("morae-logo.png", :alt=>'morae', :id=>'morae_logo') %></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="logo"><%= link_to image_tag("userzoom-logo.png", :alt=>'xml logo', :id=>'zoom_logo') %></div>
		</div>
	 </div> 
	</div>
	
	<div class="row logo_row_2">	
 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h5 class="logo_heading">Cloud-based Collaboration</h5>
		<div class="col-xs-12 col-sm-6 col-md-6">
		 <div class="logo"><%= link_to image_tag("slack.png", :alt=>'slack logo', :id=>'slack') %></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="logo"><%= link_to image_tag("github_logo.png", :alt=>'github logo', :id=>'github') %></div>
		</div>
 </div>
	 
	 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	  <h5 class="logo_heading">Technical Communication</h5>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="logo"><%= link_to image_tag("dita_2.png", :alt=>'dita logo', :id=>'dita_logo') %></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="logo"><%= link_to image_tag("xml_logo2.png", :alt=>'xml logo', :id=>'xml_logo') %></div>
		</div>
	 </div>	 
		 
 </div>


<div class="row workplace_row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="recommend_header">
      <h2 id="engaging">Making the Experience Engaging</h2>
      <h3 id="workplace">Workplace Testimonials</h3>
    </div>
  </div>
</div>

  <div class="row recommend_row">
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="recommend_box">
        <div class="photo_box">
          <%= link_to image_tag("hope_garcia.jpg", :alt=>'Kate Neal', :class=>'img-circle') %>
          <h4 class="box_name">Dr. Hope Garcia</h4>
          <h6 class="box_title">Executive Director<br/>of Student Affairs Administration</h6>
        </div>
        <p>"In his position, Victor has managed the difficult job of keeping our Division's web presence as cohesive as possible, while still meeting the needs of over 20 unique departments. And with his emotional intelligence, he is able to stay calm and work through difficult processes. Bringing this to the workplace takes a special talent that can still make the client feel heard, understood, and taken care of."</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="recommend_box">
          <div class="photo_box">
            <%= link_to image_tag("kate_neal.jpg", :alt=>'Kate Neal', :class=>'img-circle') %>
            <h4 class="box_name">Kate Neal</h4>
					 <h6 class="box_title">Marketing Specialist</h6>
          </div>
          <p>“Victor goes above and beyond our divisions expectations on a regular basis. He puts usability and design at the forefront of every decision, no matter how small a decision it may be. He understands the complexity of managing content while making the experience engaging and enjoyable.”</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="recommend_box">
          <div class="photo_box">
            <%= link_to image_tag("slee.jpg", :alt=>'Kate Neal', :class=>'img-circle') %>
            <h4 class="box_name">Stephanie Brown</h4>
            <h6 class="box_title">Assistant Director for Orientation<br/>and Transition Programs</h6>
          </div>
          <p>“Victor is an ideal person to collaborate with. He is very knowledgeable about the world of marketing and web design and is patient with his clients. Working with Victor is easy, in that he provides organized communication and produces polished websites. He is intentional about his designs and knows how to reach users.”</p>
        </div>
    </div>
  </div>

</div>

