<!--Ruby Database Interface Project-->

<div class="container-fluid ruby-project">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= image_tag('techcorp-home.png', :class=>'img-responsive') %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5">
      <h2>Developing an Online Database and Interface</h2>
      <p><strong>The Problem:</strong> Clients of techCorp requested a web-based corpus to share and organize documents produced by Technical Communication students.</p>
      <p><strong>The Solution:</strong> To create a simple, lightweight, and fast interface, I chose web technologies that could be used to prototype a RESTful application .</p><br>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>Audience Analysis</li>
        <li>Database Design</li>
        <li>Web Development</li>
        <li>UI Design</li>
        <li>UX Testing</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>Git Bash</li>
          <li>Adobe Creative Cloud</li>
          <li>Bootstrap</li>
          <li>Think-alouds</li>
        </ul><br>   
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Technical Communication</h5>
        <p>So that users could login and upload their technical documents, I took advantage of RESTful services such as Devise and Amazon Web Services&mdash;two popular services built for a Model, View, and Controller (MVC) framework such as Ruby on Rails.</p>
        <p>For the user interface, I adopted an iterative process to test and discover the best choices for searching documents.</p>        
      </div>
    </div>
  </div>
</div>


<!--DITA Project-->
<div class="container-fluid dita-project">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= image_tag('dita-code.png', :class=>'img-responsive') %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-0">
      <h2>Single-sourcing with DITA</h2>
      <p><strong>The Problem:</strong> After writing procedures for the editing feature, Microsoft Track Changes, I wanted to use technical communication technologies to tailor multiple deliverables for the different needs of the user.</p>
      <p><strong>The Solution:</strong> To accomplish the project, I structured the software procedures using the Darwin Information Typing Architecture (DITA), an XML data model that divides procedures into tasks, references, and concepts.</p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>Audience Analysis</li>
        <li>Technical Procedures</li>
        <li>Document Design</li>
        <li>DITA/XML Coding</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Microsoft Word</li>
          <li>DITA Open Toolkit</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul><br>     
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Technical Communication</h5>
        <p>To develop deliverables tailored to the audience, I first conducted an audience-analysis and user-tested the software procedures.</p>
        <p>After coding the XML data with DITA, I produced a web-based HTML manual and a quick reference PDF file.</p>        
      </div>
    </div>
  </div>
</div>

<!--Denton Bicycle Center Project-->
<div class="container-fluid dbc-project">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= image_tag('DBC.png', :class=>'img-responsive') %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-0">
      <h2>Designing an Information System</h2>
      <p><strong>The Problem:</strong> The Denton Bicycle Center requested an estimate of the economic costs of adding a rental system to their existing information system.</p>
      <p><strong>The Solution:</strong> Following the Systems Development Life Cycle (SDLC), a team of graduate students produced a cost-effective solution using a baseline project plan and data-flow diagrams.</p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>Project Management</li>
        <li>Information Architecture</li>
        <li>Database Design</li>
        <li>Copyediting</li>
        <li>Milestone Deliverables</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Microsoft Project</li>
          <li>Microsoft Visio</li>
          <li>Microsoft Office</li>
          <li>Adobe Creative Cloud</li>
          <li>TEI: OxGarage and XML</li>
        </ul><br>     
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Technical Communication</h5>
        <p>In addition to managing team communication and deadlines with Microsoft Project, I chose to manage the team's files using XML. Because teammate files developed as the project grew, XML became the best choice to ensure the document's consistency in structure and style.</p> 
        <p>The XML files were imported monthly into Adobe InDesign to create professional milestone deliverables.</p>  
      </div>
    </div>
  </div>
</div>

<!--Cool Beans Project-->
<div class="container-fluid beans-project">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= image_tag('beans-menu.png', :class=>'img-responsive') %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5">
      <h6>Latest Project</h6> 
      <h2>UX-Driven <br>Web Development</h2>
      <p><strong>The Problem:</strong> A long-standing business requested a website to drive interest in their new food menu.</p>
      <p><strong>The Solution:</strong> After user research and collaboration with management, a clear business strategy was developed to market the web content to a university demographic.</p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>User Research</li>
        <li>Web Development</li>
        <li>Content Strategy</li>
        <li>SEO Optimization</li>
        <li>UX Testing</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>Git Bash</li>
          <li>Adobe Creative Cloud</li>
          <li>Bootstrap</li>
          <li>Google Analytics</li>
        </ul><br>     
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Technical Communication</h5>
        <p>Adhering to usability best practices and SEO strategies, a dynamic website was developed with meta description and keyword tagging.</p>
        <p>Marketing to a university demographic, I practiced UX testing to not only design engaging content but also to develop a lightweight interface for management to update content.</p>  
      </div>
    </div>
  </div>
</div>

<div class="container-fluid career-heading">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Employed as a Web Developer</h1>
      <h3 class="text-center">The projects I completed managing a Drupal CMS at the University of North Texas.</h3>
    </div>
  </div>
</div>

<!--UNT Drupal Project-->
<div class="container-fluid drupal-project">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= image_tag('dls-form.png', :class=>'img-responsive') %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5">
      <h2>Managing a CMS, 2015</h2>
      <p><strong>The Problem:</strong> Maintained and developed content for 25 departmental websites, University of North Texas</p>
      <p><strong>The Solution:</strong> Working with vice presidents, directors, administrators, and student workers, I solely managed and developed content for the Division of Student Affairs, led interactive web projects, and contributed creatively to the DSA marketing team.</p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>Content Management</li>
        <li>User Research</li>
        <li>Bootstrap Design</li>
        <li>Project Management</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>Git Bash</li>
          <li>Adobe Creative Cloud</li>
          <li>Bootstrap</li>
          <li>Google Analytics</li>
        </ul><br>     
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Technical Communication</h5>
        <p>Adhering to usability best practices and SEO strategies, a dynamic website was developed with meta description and keyword tagging.</p>
        <p>Marketing to a university demographic, I practiced UX testing to not only design engaging content but also to develop a lightweight interface for management to update content.</p>  
      </div>
    </div>
  </div>
</div>

<!--UNT UX Project-->
<div class="container-fluid research-project">
  <div class="row">
    <div class="col-xs-12 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
        <h2>UX Research with Generation Y</h2>
        <h3>Marketing Team, Division of Student Affairs at the University of North Texas</h3>
    </div>
    <div class="col-xs-12 col-lg-5">
        <p>I led the user research of university students to better understand how they think of the programs and services offered by the Division of Student Affairs (DSA). Practicing UX methods, I established a user-centered design process for the new DSA website.</p>
    </div>
    <div class="col-xs-12 col-lg-3">
        <h3>Role</h3>
        <ul>
          <li>Audience Analysis</li>
          <li>Card sorts</li>
          <li>Data-based Personas</li>
          <li>Qualitative Surveys</li>
          <li>Think-alouds</li>
        </ul>
    </div> 
  </div>
</div>

<div class="container-fluid career-heading">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Team Usability Projects</h1>
      <h3 class="text-center">The projects I completed with the American Heart Association and Overture Marketplace under the guidance of Dr. Erin Friess.</h3>
    </div>
  </div>
</div> 
  
<!--American Heart Project-->
<div class="container-fluid heart-project">
  <div class="row">
    <div class="col-md-3 col-md-offset-1  col-lg-3 col-lg-offset-1">
      <h2>Usability Testing</h2>
      <h3>American Heart Association, Scientific Sessions Newsroom Intranet</h3>
    </div>
    <div class="col-lg-3">
      <h3>Role</h3>
      <ul>
        <li>Morae Usability Testing</li>
        <li>Card Sorts</li>
        <li>Heuristic Evaluations</li>
        <li>Data-based Personas</li>
      </ul>
    </div> 
    <div class="col-lg-5">
      <h3>Description</h3>
      <p>In an ongoing project with the American Heart Association, I researched and analyzed goals of medical reporters. Utilizing team-based heuristic-evaluations and scenario testing with Morae, I developed usability recommendations for the AHA newsroom site.</p>
    </div>
  </div>
</div>

<!--Overture Marketplace Project-->
<div class="container-fluid overture-project">  
  <div class="row">
    <div class="col-md-3 col-md-offset-1  col-lg-3 col-lg-offset-1">
        <h2>Usability Testing</h2>
        <h3>Overture Marketplace, Student Loan Comparison Website</h3>
    </div>
    <div class="col-lg-3">
        <h3>Role</h3>
        <ul>
          <li>UserZoom Testing</li>
          <li>Collaborative Usability Testing</li>
          <li>Heuristic Evaluations</li>
          <li>Data-based Personas</li>
        </ul>
    </div> 
    <div class="col-lg-5">
      <h3>Description</h3>
      <p>Understanding how students approach the loan comparison site, Overture Marketplace, I collaborated with a small team to develop, process, and analyze data by utilizing the software UserZoom.</p>
    </div>
  </div>
</div>