<div class="container-fluid ruby-project" id="ruby-link">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= link_to (image_tag ('techcorp-home.png'), class: 'img-responsive'), techcorp_path %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5">
      <h2>Developing an Online Database and Interface</h2>
      <p><strong>The Problem:</strong> Clients of techCorp requested a web-based corpus to share and organize documents produced by Technical Communication students.</p>
      <p><strong>The Solution:</strong> To create a simple, lightweight, and fast interface, I chose web technologies that could be used to prototype a RESTful application.</p><br>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>Audience Analysis</li>
        <li>Database Design</li>
        <li>Web Development</li>
        <li>UI Design</li>
        <li>UX Testing</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>Git Bash</li>
          <li>Adobe Creative Cloud</li>
          <li>Bootstrap</li>
          <li>Think-alouds</li>
        </ul><br>   
      </div>
    </div>
  </div>
</div>

<div class="container-fluid tc-header">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
      <h1 class="text-center">techCorp</h1>
      <h4 class="text-center">A Responsive App for Sharing Technical Documents</h4>
    </div>
  </div>
</div>

<div class="container-fluid tc-project">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-5 col-lg-4 col-lg-offset-1">
      <div class="thumbnail">
        <%= image_tag('share-desk-mobile.png', :class=>'img-responsive') %>
        <div class="caption">
          <h5>A Responsive Form</h5>
          <p>Professors and Students can upload documents from desktop and mobile browsers.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6">
      <h3>My Process</h3>
      <h6>User-Centered Design</h6>
      <p>For the user interface, I adopted an iterative process to test and discover the best choices for uploading and  searching documents. From wireframing to prototype, professors and students helped test and develop the interface.</p>
      <h6>The Back-end</h6>
      <p>So that users could login and upload their technical documents, I took advantage of RESTful services such as Devise and Amazon Web Services&mdash;two popular services built for a Model, View, and Controller (MVC) framework such as Ruby on Rails.</p>
       
    </div>
  </div>
</div>

<div class="container-fluid tc-subheader">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <h6 class="text-center">The Audience Analysis: Understanding the Client's Needs</h6>
    </div>
  </div>
</div>

<div class="container-fluid tc-project">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-5 col-lg-4 col-lg-offset-1">
      <div class="thumbnail">
        <%= image_tag('tc-audience.png', :class=>'img-responsive') %>
        <div class="caption">
          <h5>The Audience</h5>
          <p>Students would share documents for professors and other students to sort through and download.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6">
      <h3>Audience-Analysis</h3>
      <h6>The Clients and End-users</h6>
      <p>My goal was to learn about the needs of the clients of techCorp, a team of technical communication professors who wanted to develop an online corpus of technical documents produced by students. To ensure the database would meet the needs of the clients and users, I inquired about the following:</p>
      <ul>
        <li>How long will the system exist?</li>
        <li>What type of data may develop over time?</li>
        <li>What type of information will be entered?</li>
        <li>What type of people will interact with the database?</li>
      </ul>
    </div>
  </div>
</div>

  <div class="container-fluid conclusion-section">
    <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6">
      <h6>The Analysis</h6>
      <p>I learned the professors had collected over 600 documents and stored descriptions for each document in an Excel sheet. The data included characteristics about the student, professor, the class, and the document itself.</p>
      <p>The users of the database would be students in higher education, researchers, and instructors. The group of users would be familiar with a research model similar to a library database. After choosing my tools, I would be ready to start the first iteration of the database.</p>
      </div>
    </div>
  </div>
  
<div class="container-fluid tc-subheader">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <h6 class="text-center">Designing and Developing the Database</h6>
    </div>
  </div>
</div>

<div class="container-fluid tc-project">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-4 database-image">
      <div class="thumbnail">
        <%= image_tag('database-iteration1.png', :class=>'img-responsive') %>
        <div class="caption">
          <h5>Database Iteration One</h5>
          <p>Using object-relational mapping, I created models from my client's data to better understand how the data would be used in a Model, View, and Controller framework (MVC).</p>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-4 database-image">
      <div class="thumbnail">
        <%= image_tag('database-iteration2.png', :class=>'img-responsive') %>
        <div class="caption">
          <h5>Database Iteration Three</h5>
          <p>Collaborating with techCorp clients, I realized the document object and its characteristics would remain constant and future metadata associations might be needed.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-4 database-image">
      <div class="thumbnail">
        <%= image_tag('database-schema.png', :class=>'img-responsive') %>
        <div class="caption">
          <h5>Final Database Schema</h5>
          <p>Working with a PostgreSQL database, the document object was created as the model, <strong>corpus_entry</strong>, which included characteristics of the student, professor, and class.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6">
      <h3>Database Design</h3>
      <h6>Choosing the Right Tools</h6>
      <p>Using notepads, Visio, and the method of object-relational mapping, I created a database schema that would operate quickly in a MVC framework. Essential to the client, the database would offer flexibility for additional models and growth.</p>
    </div>
  </div>
</div>

<div class="container-fluid conclusion-section">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6">
      <h6>The Final Database Schema</h6>
      <p>Using Ruby on Rails, a web application framework, I began developing the back-end of techCorp using the reliable and secure Heroku Postgres database. Cloud storage was provided by the Amazon Simple Storage Service (S3).</p>
      <p>After successful testing of the model and data with the CRUD process (create, read, update, and delete), further web development on the back and front-end could begin.</p>
    </div>
  </div>
</div>

<div class="container-fluid tc-subheader">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <h6 class="text-center">Web Development: Users and Uploads</h6>
    </div>
  </div>
</div>

<div class="container-fluid tc-project">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6">
      <h3>Creating Users and Permissions</h3>
      <h6>A Database of Users</h6>
      <p>Using the Devise authentication service, the web application prototype can register users, develop a contact list, and potentially reach out to researchers, professors, and students with incentives and updates.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1">
      <div class="thumbnail">
        <%= image_tag('tc-register-mockup.png', :class=>'img-responsive') %>
        <div class="caption">
          <h5>Creating Users - Iteration One</h5>
          <p>Using the MVC authentication solution, Devise for Rails, the web application would allow users to sign up and upload a document.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0">
      <div class="thumbnail">
        <%= image_tag('tc-register.png', :class=>'img-responsive') %>
        <div class="caption">
          <h5>Creating Users - Final Iteration</h5>
          <p>With clear options and instructions, the sign-up page was given the name <strong>Share</strong>, a likeable word that fits the core theme of the corpus.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6">
      <h3>Uploading a Document</h3>
      <h6>Interacting with Users</h6>
      <p>I developed the form with the guidance of usability principles and user-feedback. Using think-aloud testing, participants helped guide the order and structure of the form fields. For instance, select options were used to help the user quickly and confidently make entries.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 form-image">
      <div class="thumbnail">
        <%= image_tag('form-mockup.png', :class=>'img-responsive') %>
        <div class="caption">
          <h5>Building the Form</h5>
          <p>Understanding how best to organize and group the fields of the form, mockups and user-testing were both utilized. Participants included both students and techCorp clients.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 form-image">
      <div class="thumbnail">
        <%= image_tag('tc-form.png', :class=>'img-responsive') %>
        <div class="caption">
          <h5>A User-tested Design</h5>
          <p>The Corpus Entry form was divided into three sections with the upload document button positioned last, allowing the user to experience the data and document file as simultaneously saved.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid conclusion-section">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6">
      <h6>User-centered Web Development</h6>
      <p>With the needs of the client and user driving the development, the points of interaction with the end-user became the highest priorities, such as:</p>
      <ul>
        <li>Ease of use,</li>
        <li>Confidence in the system,</li>
        <li>A responsive design, and</li>
        <li>User-friendly copy.</li>
      </ul>
      <p>The listed priorities were accomplished with both web technologies and user feedback. The MVC framework allowed for rapid uploads, Devise authentication created security for the user, Bootstrap structured a mobile-friendly responsive design, and user-feedback benefited the structure, organization, and experience of uploading a document to the corpus.</p>
    </div>
  </div>
</div>

<div class="container-fluid tc-subheader">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <h6 class="text-center">Designing and Developing the Query Interface</h6>
    </div>
  </div>
</div>

<div class="container-fluid tc-project">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-4 interface">
      <div class="thumbnail">
        <%= image_tag('ui-iteration-1.png', :class=>'img-responsive') %>
        <div class="caption">
          <h5>Interface Iteration One</h5>
          <p>In the mockup of the interface, the ability to easily search through a large corpus would be a guiding priority.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-4 interface">
      <div class="thumbnail">
        <%= image_tag('tc-explorer.png', :class=>'img-responsive') %>
        <div class="caption">
          <h5>Interface Iteration Four</h5>
          <p>The <strong>Genre</strong> option was moved to the top as participants most often used this option to query the corpus.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-4 interface">
      <div class="thumbnail">
        <%= image_tag('corpus-select-options.png', :class=>'img-responsive') %>
        <div class="caption">
          <h5>Final UI Prototype</h5>
          <p>In the final prototype, a tile format featured essential information and multiple links to the uploaded document.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6">
      <h3>User Interface Design</h3>
      <h6>Speed and the User Experience</h6>
      <p>With modern web technologies and a lightweight design, queries could be performed as quick as under 2 seconds: a primary feature of the user experience. Combined with user-feedback, the user interface was developed and modeled into a familiar, intuitive, and reliable experience for users to access information.</p>
    </div>
  </div>
</div>

<div class="container-fluid conclusion-section">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6">
      <h6>The Final Prototype</h6>
      <p>In a trio of services including Ruby on Rails, Heroku, and Amazon Web Services, I produced a lightweight web application that could store and query large masses of data, and with user-feedback and testing, I could ensure techCorp clients that the forms and queries would be reliable to the end-user.</p>
      <p>In preparation for growth, the database schema and architecture was built to encompass large amounts of users, large amounts of data, and the ability to add and merge additional records and associations with the existing data.</p>
      <p>Finally, additional pages were added to the corpus to build trust with the end-user. I included pages such as <strong>About</strong> and <strong>People</strong>, which told the story of the project and its future potential.</p>
    </div>
  </div>
</div>

<div class="container-fluid tc-project">
  <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6">
        <div class="thumbnail">
          <%= image_tag('tc-people.png', :class=>'img-responsive') %>
          <div class="caption">
            <h5>The People Page</h5>
            <p>The menu option, <strong>People</strong>, became a tactic to build trust with the user and inform them of the scope and purpose of the corpus project.</p>
          </div>
        </div>
    </div>
  </div>
</div>

