<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-custom"></span>
    </button>
  </div>
  

    <%= link_to image_tag("estrada_sun_border.png", :alt=>'Estrada Logo', :class=>'logo'), root_path, class: "navbar-brand" %>
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-collapse">
    <ul class="active nav navbar-nav navbar-right">
      <li class="<%= active_class(root_path) %>" id="home_option"><%= link_to "Home", root_path, class: "nav_link" %></li>
      <li class="<%= active_class(about_path) %>"><%= link_to "About", about_path, class: "nav_link" %></li>
      <li><%= link_to "Projects", root_path, class: "nav_link" %></li>
      <li><%= link_to "GitHub", root_path, class: "nav_link" %></li>
      <li><%= link_to "Twitter", root_path, class: "nav_link" %></li>
      <li><%= link_to "Contact", root_path, class: "nav_link" %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>