<nav class="navbar navbar-default">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
    </button>
    <%= link_to image_tag("estrada_turq.png", :alt=>'estrada logo', :class=>'navbar-brand'), root_path %>
		<p><%= link_to "Resume", 'estrada_resume.pdf', class: "navbar-text", id: "resume-link" %></p>
		
  </div>
  


  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-collapse">
    <ul class="active nav navbar-nav navbar-right">
      <li class="<%= active_class(root_path) %>" id="home_option"><%= link_to "Home", root_path, class: "nav_link" %></li>
      <li class="<%= active_class(about_path) %>"><%= link_to "About", about_path, class: "nav_link" %></li>
      <li><%= link_to "Projects", root_path, class: "nav_link" %></li>
      <li><%= link_to "GitHub", 'https://github.com/VictorEunt', class: "nav_link" %></li>
      <li><%= link_to "Twitter", 'https://twitter.com/victoreUNT', class: "nav_link" %></li>
      <li class="<%= active_class(contact_path) %>"><%= link_to "Contact", contact_path, class: "nav_link" %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>