<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-custom"></span>
    </button>
  </div>
  

  <%= link_to image_tag("estrada_logo_white.png", :alt=>'Estrada Logo', :class=>'logo'), root_path, class: "navbar-brand" %>
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About", root_path, class: "nav_link" %></li>
      <li><%= link_to "Projects", root_path, class: "nav_link" %></li>
      <li><%= link_to "Contact", root_path, class: "nav_link" %></li>
       <li><%= link_to image_tag("twitter.png", :alt=>'twitter', :class=>'image_nav_link'), root_path, class: "nav_link" %></li>
      <li><%= link_to image_tag("github.png", :alt=>'twitter', :class=>'image_nav_link'), root_path, class: "nav_link" %></li>

    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>